DASHBOARD_MODE=placeholder
ADMIN_API_BASE_URL=http://admin-api:8000
TELEMETRY_API_BASE_URL=http://telemetry-api:8200
NAKAMA_API_BASE_URL=http://nakama:7350
#NAKAMA_CONSOLE_BASE_URL=http://nakama:7351
REQUEST_TIMEOUT_SECONDS=2